* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.wrapper {
    position: absolute;
    left: 50%;
    top: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    transform: translate(-50%, -50%);
    /*filter: drop-shadow(0 2px 2px rgba(0, 0, 0, .5));*/
}

form {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

form * {
    font-family: "JetBrains Mono", monospace;
}

input {
    outline: none;

    font-size: 16px;
}

label[for="count"] {
    padding: 4px 4px 4px 8px;
    display: inline-flex;
    align-items: center;
    background-color: #ffffff;
    color: #8d8d8d;
    border: 1px solid #A0A0A0;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

input[type="number"] {
    width: 100px;
    background: none;
    border: 0;
    outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
}

input[type="submit"] {
    margin-left: 6px;
    padding: 4px 12px;
    /*background-color: #4649FF;*/
    background: none;
    /*font-weight: bold;*/
    /*color: #ffffff;*/
    color: #8d8d8d;
    border: 0;
    border-left: 1px solid #A0A0A0;
    /*-webkit-border-radius: 50px;*/
    /*-moz-border-radius: 50px;*/
    /*border-radius: 50px;*/
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

tr {
    border: 1px solid #dcdcdc;
}

table * {
    font-family: "Trebuchet MS", sans-serif;
}

th,
td {
    padding: 8px 8px;
}

th {
    text-align: left;
    background-color: #4649FF;
    color: #ffffff;
}

td {
    color: #000000;
}

tr:nth-child(odd) td {
    background-color: #ffffff;
}

tr:nth-child(even) td {
    background-color: #dcdcdc;
}