* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.wrapper {
    position: absolute;
    left: 50%;
    top: 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    transform: translate(-50%);
}

form {
    margin-bottom: 80px;
    display: flex;
    align-items: center;
}

form * {
    font-family: "JetBrains Mono", monospace;
}

input {
    outline: none;

    font-size: 16px;
}

label[for="count"] {
    padding: 4px 4px 4px 8px;
    display: inline-flex;
    align-items: center;
    background-color: #ffffff;
    color: #8d8d8d;
    border: 1px solid #A0A0A0;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

input[type="number"] {
    width: 20vw;
    background: none;
    border: 0;
    outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
}

span {
    margin-left: 6px;
    padding: 0 8px;
    display: inline-flex;
    align-items: center;
    border-left: 1px solid #A0A0A0;
}

input[type="submit"] {
    padding: 4px 12px;
    background-color: #A0A0A0;
    transition: all .25s;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #5F8D4E;
}

table {
    border-collapse: collapse;
}

tr {
    border: 1px solid #dcdcdc;
}

table * {
    font-family: "Trebuchet MS", sans-serif;
}

th,
td {
    padding: 8px 8px;
}

th {
    text-align: left;
    background-color: #5F8D4E;
    color: #ffffff;
}

tr:nth-child(even) td {
    background-color: #f9f9f9;
}

tr:nth-child(odd) td {
    background-color: #ffffff;
}